<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 페이지</title>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/fix/header.css}'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/css/fix/footer.css}'>
    <link rel="stylesheet" th:href="@{/css/board/page.css}">
</head>

<body>
<!-- 헤더 -->
<div th:insert="/fix/header :: header" class="header"></div>
<!-- 메인 -->
<main>
    <div class="container-divider"></div>
    <div class="container">
        <nav class="sub-nav">
            <ol class="breadcrumbs">
                <li title="국어 게시판">
                    <a th:href="@{/board/page(boardNumber=*{boardNumber})}" th:text="${board.boardCategory} + ' 게시판'"></a>
                </li>
                <li title="국어게시판 내용">
                    <a href="">글 상세 페이지</a>
                </li>
            </ol>
        </nav>
        <div class="article-container">
            <!-- 사이드바 -->
            <section class="article-sidebar">
                <section class="collapsible-sidebar">
                    <h3 class="collapsible-sidebar-title sidenav-title" th:text="${board.boardCategory} + ' 질문'"></h3>
                    <ul>
                        <!-- 현재 글 -->
                        <th:block th:each="list:${boardlist}">
                            <div th:object="${list}">
                                <li>
                                    <a th:href="@{/board/page(boardNumber=*{boardNumber})}" class="sidebar-item current-article">
                                        <p class="sidebar-item-text" th:text="*{boardTitle}"></p>
                                    </a>
                                </li>
                            </div>
                        </th:block>
                    </ul>
                    <a href="" class="article-sidebar-item">더보기</a>
                </section>
            </section>
            <div class="article-main">
                <!-- 글 -->
                <article class="article">
                    <div class="article-header">
                        <h1 class="article-title" th:text="${board.boardTitle}"></h1> <!-- 글 제목 -->
                    </div>
                    <div class="user-profile-area">
                        <img th:src="@{/img/board/user_icon.png}" alt="유저 이미지" class="profile-image">
                        <div class="profile-info" th:object="${board}">
                            <span class="user-name" th:text="*{memberName}"></span>   <!-- 작성자 이름 -->
                            <div class="created-at">
                                <span class="time" th:text="*{boardUpdateDate}">22.9.13</span>   <!-- 작성 날짜 -->
                                <span class="divider-dot">·</span>
                                <span class="views" th:text="*{boardViewcount}"></span>   <!-- 조회수 -->
                                <span class="divider-dot">·</span>
                                <span class="report">               <!-- 신고 -->
                                        <a th:href="@{/report(boardNumber=*{boardNumber})}" class="page-report-button">신고하기</a>
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="article-content" th:object="${board}">
                        <div class="article-attachments">
                            <img th:src="@{/img/board/test1.png}" alt="글 이미지">
                        </div>
                        <div class="article-body">   <!-- 글 내용 -->
                            <p th:text="*{boardContent}"></p>
                        </div>
                    </div>
                </article>

                <!-- 답글 입력창 -->
                <div class="comment-field">
                    <div class="comment-write">
                        <textarea name="comment-write" placeholder="댓글을 남겨보세요"></textarea>
                    </div>
                    <button type="button" class="comment-write-button">작성</button>
                </div>

<!--                &lt;!&ndash; 답글 리스트 &ndash;&gt;-->
<!--                <div class="reply-wrapper">-->
<!--                    <article class="article">-->
<!--                        <div class="article-header">-->
<!--                            <h1 class="article-title"></h1> &lt;!&ndash; 글 제목 &ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="user-profile-area">-->
<!--                            <img th:src="@{/img/board/user_icon.png}" alt="유저 이미지" class="profile-image">-->
<!--                            <div class="profile-info">-->
<!--                                <span class="user-name"></span>   &lt;!&ndash; 작성자 이름 &ndash;&gt;-->
<!--                                <div class="created-at">-->
<!--                                    <span class="time">22.9.13</span>   &lt;!&ndash; 작성 날짜 &ndash;&gt;-->
<!--                                    <span class="divider-dot">·</span>-->
<!--                                    <span class="views"></span>   &lt;!&ndash; 조회수 &ndash;&gt;-->
<!--                                    <span class="divider-dot">·</span>-->
<!--                                    <span class="report">               &lt;!&ndash; 신고 &ndash;&gt;-->
<!--                                        <img th:src="@{/img/board/report.png}" class="report-button" alt="">-->
<!--                                    </span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="article-content">-->
<!--                            <div class="article-attachments">-->
<!--                                <img th:src="@{/img/board/test1.png}" alt="글 이미지">-->
<!--                            </div>-->
<!--                            <div class="article-body">   &lt;!&ndash; 글 내용 &ndash;&gt;-->
<!--                                <p></p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                </div>-->

                <!-- 댓글 리스트-->
                <div class="reply-wrapper">
                    <div class="reply-inner-wrapper">
                        <div class="reply-firstline">
                            <div class="reply-nickname"></div>
                            <div class="reply-update-wrapper">
                                <div class="reply-update">수정하기</div>
                                <div class="reply-delete">✖</div>
                            </div>
                        </div>
                        <div class="reply-text"></div>
                        <div class="reply-secondline">
                            <div class="reply-date-wrapper">
                                <div class="reply-date"></div>
                                <div class="reply-report">🚨</div>
                            </div>
                            <div class="reply-adopt">👍</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- 푸터 -->
<footer th:replace="/fix/footer.html::.footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/fix/header.js}"></script>
<script type="text/javascript" th:src="@{/js/board/replyService.js}"></script>
<script th:inline="javascript">

    let memberNumber = [[${session.memberNumber}]]; // memberNumber session 에서 가져옴
    console.log(memberNumber);

    // 현재 URL의 쿼리스트링 가져오기
    var queryString = location.search;

    // URLSearchParams 객체 생성
    var searchParams = new URLSearchParams(queryString);

    // 매개변수 값 가져오기
    var boardNumber = searchParams.get('boardNumber');

    // 값 출력
    console.log(boardNumber);
    console.log(1, "come");
    getReplyLists();


    <!--    댓글 추가 기능-->
    let replyRegisterButton = document.querySelector(".comment-write-button");
    //댓글 등록

    console.log(replyRegisterButton);
    replyRegisterButton.addEventListener("click", function() {
        let commentTextarea = document.querySelector('textarea[name="comment-write"]');
        let replyContent = commentTextarea.value;
        console.log("댓글내용까진는 들어옴 :" + replyContent);
        replyService().add({
            replyContent : replyContent,
            memberNumber : memberNumber,
            boardNumber : boardNumber
        },function () {
            window.location.reload();
        })
        getReplyLists();
    });

//    댓글 리스트
    function getReplyLists() {
        console.log(2,"come");
        replyService().list(boardNumber,showReplyLists);
        console.log(5,"come");
    }

    function showReplyLists(replies) {
        console.log(3,"come");
        let text = "";
        replies.forEach(reply => {
            text += '<div class="reply-wrapper">';
            text += '<div class="reply-inner-wrapper">';
            text += '<div class="reply-firstline">';
            text += '<div class="reply-nickname">' + reply.memberName + '</div>';
            text += '<div class="reply-update-wrapper">';
            text += '<div class="reply-update">수정하기</div>';
            text += '<div class="reply-delete">✖</div>';
            text += '</div>';
            text += '</div>';
            text += '<div class="reply-text">' + reply.replyContent + '</div>';
            text += '<div class="reply-secondline">';
            text += '<div class="reply-date-wrapper">';
            text += '<div class="reply-date">' + reply.replyUpdateDate + '</div>';
            text += '<div class="reply-report">🚨</div>';
            text += '</div>';
            text += '<div class="reply-adopt">👍</div>';
            text += '</div>';
            text +='</div>';
        });
        const replyWrapper = document.querySelector('.reply-wrapper');
        // replyWrapper.innerHTML = text;
        console.log(4,"come");
    }


    // //  에이젝스 리플라이
    // function showReplyLists(replies) {
    //     console.log(3,"come");
    //     let text = "";
    //     replies.forEach(reply => {
    //         text += "<div class='reply-wrapper'>"
    //         text += "<article class='article'>";
    //         text += "<div class='article-header'>";
    //         text += "<h1 class='article-title'></h1>";
    //         text += "</div>";
    //         text += "<div class='user-profile-area'>";
    //         text += "<img th:src='@{/img/board/user_icon.png}' alt='유저 이미지' class='profile-image'>";
    //         text += "<div class='profile-info'>";
    //         text += "<span class='user-name'>"+ reply.memberName +"</span>";
    //         text += "<div class='created-at'>";
    //         text += "<span class='time'>"+reply.replyUpdateDate+"</span>";
    //         text += "<span class='divider-dot'>·</span>";
    //         text += "<span class='views'></span>";
    //         text += "<span class='divider-dot'>·</span>";
    //         text += "<span class='report'>";
    //         text += "<img th:src='@{/img/board/report.png}' class='report-button' alt=''>";
    //         text += "</span>";
    //         text += "</div>";
    //         text += "</div>";
    //         text += "</div>";
    //         text += "<div class='article-content'>";
    //         text += "<div class='article-attachments'>";
    //         text += "<img th:src='@{/img/board/test1.png}' alt='글 이미지'>";
    //         text += "</div>";
    //         text += "<div class='article-body'>";
    //         text += "<p>"+reply.replyContent+"</p>";
    //         text += "</div>";
    //         text += "</div>";
    //         text += "</article>";
    //         text += "</div>";
    //
    //     });
    //     const replyWrapper = document.querySelector('.reply-wrapper');
    //     // replyWrapper.innerHTML = text;
    //     console.log(4,"come");
    // }

</script>
</html>